@import url(
    "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+SC:wght@100..900&display=swap"
);

:root {
    --md-ref-typeface-brand: "Inter";
    --md-ref-typeface-plain: "Inter", "Mx437 IBM VGA 9x16", "Noto Sans SC", system-ui;
}

body {
    background: url("../static/background.png") center center no-repeat fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Inter", "Mx437 IBM VGA 9x16", "Noto Sans SC", system-ui;
}

p {
    color: var(--md-sys-color-on-surface);
    text-shadow: rgba(0, 0, 0, 0.1) 2px 2px;
}

.acrylic-layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
}

.color-layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--md-sys-color-surface);
    opacity: 0.2;
}

@media (min-width: 800px) {
    .container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto auto;
        width: 50vh;
        height: 50vh;
        text-align: center;
    }

    .large_text {
        font-size: 32px;
        line-height: 80%;
    }
}

@media (max-width: 800px) and (min-width: 500px) {
    .container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto auto;
        width: 50vw;
        height: 50vw;
        text-align: center;
    }

    .large_text {
        font-size: 22px;
        line-height: 90%;
    }
}

@media (max-width: 500px) {
    .container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto auto;
        width: 100vw;
        height: 100vw;
        text-align: center;
    }

    .large_text {
        font-size: 20px;
        line-height: 90%;
    }
}
